<div class="register-container">

	<div class="register-container-left">
		<img class="register-icon" src="/assets/user.png" alt="image">
		<p class="register-title">Let's get you started</p>
		<p class="register-subtitle">sign up to use our site</p>
		<p class="register-title">Or</p>
		<p class="register-footer">Go to <a class="register-link" href="http://">Login Page</a></p>
	</div>

	<div class="register-container-right">
		<p class="register-header">Registration</p>
		<form class="register-form">
			<input type="text" class="register-input" placeholder="Name">
			<input type="text" class="register-input" placeholder="Password">
			<input type="text" class="register-input" placeholder="E-mail">

			<div class="register-input-radio-container">
				<input type="radio" name="user-type" class="register-input-radio">
				<label for="user-type">User</label>
			</div>

			<div class="register-input-radio-container">
				<input type="radio" name="user-type" class="register-input-radio">
				<label for="user-type">Examiner</label>
			</div>

			<div class="register-input-radio-container">
				<input type="radio" name="user-type" class="register-input-radio">
				<label for="user-type">Admin</label>
			</div>
			<button type="submit" class="register-btn">Sign Up</button>
		</form>
	</div>

</div>
