<div class="container">

    <div class="create-exam-container">
        <div class="title">
            <h2>create an exam</h2>
        </div>
        <div class="form-container">
            <form [formGroup]="createExamForm" (ngSubmit)="examInfoSubmit()">
                <div class="form-element-container">
                    <input class="form-input"formControlName="Subject"  type="text" placeholder="Subject Name" />
                    <div class="validation-text"  *ngIf="!createExamForm.controls['Subject'].valid "> Subject is required</div>
                </div>
                <div class="form-element-container">
                    <input class="form-input" type="text" formControlName="examName"  placeholder="Exam Name" />
                    <div class="validation-text"  *ngIf="!createExamForm.controls['examName'].valid "> Exam Name is required</div>

                </div>
                <div class="form-element-container">
                    <input class="form-input" type="number" formControlName="examTime"  placeholder="Time" />
                    <div class="validation-text"  *ngIf="!createExamForm.controls['examTime'].valid "> Time is required</div>

                </div>
                <div class="form-element-container">
                    <input class="form-input" type="number" formControlName="totalQuestions"  placeholder="Total Questions" />
                    <div class="validation-text"  *ngIf="!createExamForm.controls['totalQuestions'].valid "> Total Questions is required</div>
                </div>
                <div class="form-element-container radio">
                    <label class="radio-container">
                        <input (click)="exam.difficultyLevel = 'Easy'" type="radio"  name="difficultyLevel" value="Easy">
                        <span class="checkmark"></span>
                    </label>
                    <label class="radio-container">
                        <input (click)="exam.difficultyLevel = 'Intermediate'" type="radio" name="difficultyLevel" value="Intermediate">
                        <span class="checkmark"></span>
                    </label>
                    <label class="radio-container">
                        <input (click)="exam.difficultyLevel = 'Hard'" type="radio" name="difficultyLevel" value="Hard">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="form-element-container radio">
                    <label class="radio-label radio-label-1">
                        Easy
                    </label>
                    <label class="radio-label radio-label-2">
                        Intermediate
                    </label>
                    <label class="radio-label radio-label-3">
                        Hard
                    </label>
                </div>
                <div class="form-element-container radio">
                    <label class="radio-container">
                        <input (click)="exam.type = 'TF'" type="radio"  name="type" value="TF">
                        <span class="checkmark"></span>
                    </label>
                    <label class="radio-container">
                        <input (click)="exam.type = 'MCQ'" type="radio" name="type" value="MCQ">
                        <span class="checkmark"></span>
                    </label>
                    <label class="radio-container">
                        <input (click)="exam.type = 'Short Answer'" type="radio" name="type" value="MCQ">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="form-element-container radio">
                    <label class="radio-label radio-label-4">
                        TF
                    </label>
                    <label class="radio-label radio-label-5">
                        MCQ
                    </label>
                    <label class="radio-label radio-label-6">
                        Short Answer
                    </label>
                </div>

                <button class='btn' [disabled]="!createExamForm.valid" type="submit">create</button>
            </form>
        </div>
    </div>