
.home-options{
    width:70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 120px;
}

.option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a9a9f9;
    width: 25%;
    height: 300px;
    border-radius: 40px;
}

.option:hover{
    box-shadow: #9797c8 -20px 20px 60px inset;
    filter: drop-shadow(0px 0px 25px #8181816a);

}

.option-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    opacity: 0.60;
    margin-bottom: 15px;
}

.option-text{
    text-align: center;
    font-size: 25px;
	font-family: "Open Sans";
	font-weight: 650;
    opacity: 0.80;
}

.option-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}