.table-container{
    width: 80%;
    text-align: center;
    font-family: "Open Sans";
    font-weight: 500;
    background-color: white;
    border-radius:20px;
    margin-left:auto;
    margin-right:auto;
    padding: 32px;
    margin-top: 50px;
}

.table{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    background-color: white;
    border-radius:20px;
    border-collapse: collapse;
}

th{
    border: 0.5px solid rgba(79, 79, 79, 0.54);
    padding: 0.5rem;
}

.table-rows{
    height:40px;
    border: 3px solid #c1c1ff;
}

.spacing-rows{
    height:20px;
}

.action-cell{
    color:rgba(132, 0, 255, 0.8);
    font-weight: 600;
}

.table-loading{
    font-size: 34px;
    margin-top:30px;
    color: rgba(132, 0, 255, 0.8);
    font-weight:700;
}
